* {
  box-sizing: border-box;
}


h1 {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  text-align: center;
}

h2 {
  font-size: 3em;
  display: block;
  font-weight: 300;
}

body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-align: center;
}

.motto {
  color: #111;
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px;
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 72px; 
  text-align: center; 
}

p.flashy {
  font-style: italic;
  color: red;
  font-weight: bold;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.intro {
  height: 90vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}
